asgiref==3.8.1
astroid==3.3.9
dill==0.3.9
Django==4.2.20
isort==6.0.1
mccabe==0.7.0
pillow==11.2.0
platformdirs==4.3.7
pylint==3.3.6
python-dotenv==1.1.0
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
typing_extensions==4.13.0
